/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@400;600;700&display=swap');

/* Variables */
:root {
    --header-height: 3.5rem;

    /* Colors */
    --first-color: hsl(203, 71%, 60%);
    --second-color: hsl(277, 56%, 68%);
    --text-color: hsl(203, 8%, 98%);
    --text-color-light: hsl(203, 8%, 80%);
    --body-color: hsl(259, 20%, 18%);

    /* Fonts */
    --body-font: 'Oxanium', cursive;
    --biggest-font-size: 2.25rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: .938rem;

    --font-semi-bold: 600;

    --z-index: 100;
}

/* Responsive Typography */

@media screen and (min-width: 1024px) {
    :root {
        --biggest-font-size: 4rem;
        --h2-font-size: 1.5rem;
        --normal-font-size: 1rem;
        --smaller-font-size: .813rem;
    }
}

/* Basic Styling */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--text-color);
    background-color: var(--body-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* CSS Classes */

.container {
    max-width: 1024px;
    margin-inline: 1.5rem;
}

.main {
    overflow: hidden;
}

/* Header START */

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: var(--z-index);
    transform: background .3s;
}

.nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
}

.nav__logo, .nav__toggle, .nav__link, .nav__close {
    color: var(--text-color);
}

.nav__toggle {
    display: inline-flex;
    font-size: 1.25rem;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .nav__menu {
        position: fixed;
        background-color: var(--body-color);
        width: 100%;
        left: 0;
        top: -100%;
        box-shadow: 0 3px 8px hsla(203, 71%, 4%, .2);
        padding: 4rem;
        overflow: hidden;
        transition: top .4s;
    }
}

.nav__list {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 2rem;
}

.nav__link {
    font-weight: var(--font-semi-bold);
    transition: color .4s;
}

.nav__link:hover {
    color: var(--first-color);
}

.nav__close, .nav__img {
    position: absolute;
}

.nav__close {
    font-size: 1.5rem;
    top: 1rem;
    right: 1.5rem;
    cursor: pointer;
}

.nav__img {
    width: 80px;
    left: 1rem;
    bottom: -2rem;
    filter: drop-shadow(0 4px 20px hsla(203, 71%, 60%, .5));
}

/* Show Menu */

.show-menu {
    top: 0;
}

/* Active Link */

.active-link {
    background: linear-gradient(90deg, var(--second-color) 0%, var(--first-color) 100%);
    color: transparent;
    -webkit-background-clip: text;
}

/* Header END */

/* Change Background Header */

.header-bg {
    background-color: var(--body-color);
    box-shadow: 0 2px 4px hsla(203, 71%, 15%, .5);
}

/* Home Section START */

.home {
    position: relative;
}

.home__container {
    position: relative;
    padding: 7rem 0 2rem;
}

.home__title {
    font-size: var(--biggest-font-size);
    margin-bottom: 0.75rem;
}

.home__title span {
    background: linear-gradient(90deg, var(--second-color) 0%, var(--first-color) 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.home__description {
    color: var(--text-color-light);
    margin-bottom: 1.5rem;
}

.home__btn {
    display: inline-block;
    font-weight: var(--font-semi-bold);
    color: var(--text-color);
    background: linear-gradient(95deg, var(--second-color) 0%, var(--first-color) 100%);
    padding: 1rem 2rem;
    border-radius: .25rem;
    transition: box-shadow .4s;
}

.home__btn:hover {
    box-shadow: 0 8px 48px hsla(203, 71%, 25%, .5);
}

.home__group {
    position: relative;
}

.home__images, .home__data {
    display: grid;
}

.home__img-eth {
    width: 100px;
    justify-self: center;
}

.home__img-eth img {
    filter: drop-shadow(0 4px 32px hsla(203, 71%, 60%, .5));
    animation: float-eth 4s ease-in-out infinite;
}

.home__img-orbe {
    width: 208px;
    justify-self: center;
}

.home__data {
    position: absolute;
    top: -3rem;
    right: 1.5rem;
    row-gap: 1.25rem;
}

.home__data-number {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
}

.home__data-subtitle {
    font-size: var(--smaller-font-size);
}

.home__footer, .home__footer-time {
    display: flex;
}

.home__footer {
    margin-top: 2.5rem;
    column-gap: 3.5rem;
}

.home__footer-title, .home__footer-subtitle {
    display: block;
    font-size: var(--smaller-font-size);
}

.home__footer-title {
    margin-bottom: 0.75rem;
}

.home__footer-number {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 0.25rem;
}

.home__footer-time {
    column-gap: 1.25rem;
}

.home__footer-counter {
    text-align: center;
}

.home__shape-small, .home__shape-big-1, .home__shape-big-2 {
    position: absolute;
    border-radius: 50%;
    filter: blur(90px);
}

.home__shape-small {
    width: 150px;
    height: 150px;
    background-color: var(--first-color);
    top: -2.5rem;
    left: -1.5rem;
}

.home__shape-big-1, .home__shape-big-2 {
    width: 250px;
    height: 250px;
}

.home__shape-big-1 {
    background-color: var(--first-color);
    top: 16rem;
    right: -6.5rem;
}

.home__shape-big-2 {
    background-color: var(--second-color);
    left: -3.5rem;
    bottom: -4rem;
}

.home__shape-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    mix-blend-mode: soft-light;
    opacity: .3;
}

/* Eth Image Animation */

@keyframes float-eth {
    0% {
        transform: translateY(.5rem);
    }

    50% {
        transform: translateY(2rem);
    }

    100% {
        transform: translateY(.5rem);
    }
}

/* Home Section END */

/* Media Queries */

/* Mobile */
@media screen and (max-width: 340px) {
    .container {
        margin-inline: 1rem;
    }

    .home__img-eth {
        width: 80px;
    }

    .home__img-orbe {
        margin: 230px;
    }

    .home__data {
        right: 0.5rem;
    }

    .home__footer {
        flex-direction: column;
        row-gap: 2rem;
    }
}

/* Medium Devices */
@media screen and (min-width: 767px) {
    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav__toggle, .nav__close, .nav__img {
        display: none;
    }

    .nav__list {
        flex-direction: row;
        column-gap: 4rem;
    }

    .home__container {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        align-content: center;
        justify-content: center;
        gap: 2rem 4rem;
        height: 100vh;
    }

    .home__group {
        grid-row: 1 / 3;
        grid-column: 2 / 3;
        align-self: center;
    }
}

/* Large Devices */
@media screen and (min-width: 1024px) {
    .home__title {
        margin-bottom: 1rem;
    }

    .home__description {
        margin-bottom: 3rem;
    }

    .home__img-eth {
        width: 200px;
    }

    .home__img-orbe {
        width: 500px;
    }

    .home__data {
        top: 3rem;
        right: 0;
        row-gap: 2.5rem;
    }

    .home__shape-small, .home__shape-big-1, .home__shape-big-2 {
        filter: blur(132px);
    }

    .home__shape-small {
        width: 300px;
        height: 300px;
        top: -5rem;
        left: -2rem;
    }

    .home__shape-big-1, .home__shape-big-2 {
        width: 400px;
        height: 400px;
    }

    .home__shape-big-1 {
        top: 10rem;
        right: -3.5rem;
    }

    .home__shape-big-2 {
        left: 14rem;
        bottom: -10rem;
    }
}

@media screen and (min-width: 1048px) {
    .container {
        margin-inline: auto;
    }
}

@media screen and (min-width: 1500px) {
    .home__shape-big-2 {
        left: 28rem;
    }
}